@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import "slaw-variables";
@import "slaw-header";
@import "slaw-thoughts";

html {
    height: 100%;
}

body {
    height: 100%;

    font-family: Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
    overflow-y: auto;
}

#main {
    padding: 0;
    margin: 0;
    background-color: #e1e1e1;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
