@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import "slaw-variables";
@import "slaw-header";
@import "slaw-thoughts";

body {
    font-family: Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#main {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #e1e1e1;
    overflow: scroll;
    -webkit-overflow-scrolling: scroll;
}

.headshot {
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    height: 100px;
    width: 100px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
