<slaw-header></slaw-header>
<!-- main route partial for slaw thoughts home page / -->
<section id="slawThoughts" flex="none">
    <!-- core content block for slaw thoughts -->
    <md-content id="slawContainer" flex layout-padding ng-cloak>
        <div layout="column" layout-fill layout-align="top">
            <!-- CONTENT HERE -->
            <md-content id="slawReviewContainer" flex layout-padding layout-gt-sm="row" layout-sm="column">
                <slaw-info></slaw-info>
                <slaw-reviews></slaw-reviews>
            </md-content>
        </div>
    </md-content>
</section>

<!-- flex separator for sticky footer -->
<div flex></div>

<!-- slaw footer -->
<slaw-footer></slaw-footer>
