<div id="slawHeader">
    <div class="slaw-header-overlay"></div>

    <md-toolbar class="slaw-header-toolbar md-primary">
        <div class="md-toolbar-tools">
            <h2 class="slaw-header-title">
                <a class="md-headline" href="/">Slaw Thoughts</a>
            </h2>

            <span flex></span>

            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon class="md-title">menu</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
