<md-content id="slawReviewContainer" flex layout-padding>
    <div layout="column" layout-fill layout-align="top">
        <md-card class="slaw-review-card">
            <md-card-title class="slaw-review-card-title">
                <md-card-title-text>
                    <span class="md-headline">First Slaw Review</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content class="slaw-review-card-content">
                MOJO has the best slaw.
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button>
                    <span>Read Full Article</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
