<div layout="column" layout-fill flex="70" layout-align="top">
    <md-card class="slaw-review-card">
        <iframe class="md-card-image" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3467.3888584659053!2d-82.32658875051176!3d29.650488443944194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e8a38d27130873%3A0x7117dfd5fd61a580!2sMOJO+Hogtown+Bar-B-Que+Smoked+Meats+Whiskey+Bar!5e0!3m2!1sen!2sus!4v1467158065973" frameborder="0" style="border:0" allowfullscreen></iframe>
        <md-card-title class="slaw-review-card-title">
            <md-card-title-text>
                <span class="md-headline">MOJO Hogtown Bar-B-Que Smoked Meats Whiskey Bar</span>

                <span class="md-subhead">12 SE 2nd Ave, Gainesville, FL 32601</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="slaw-review-card-content">
            <p>Before I carve into this review, I just have to say that this slaw is quite possibly the most succulent that I have ever been able to feast upon.</p>

            <p>With that being said, let us begin our tasteful journey by first discussing the creamiest mayonnaise that has ever caressed my lips. The mayonnaise provides a moist, yet soft, flavor to the slaw as it passes from fork to mouth causing a whirling sensation of bliss before it crashes down upon your tongue, melding into your saliva, and leaving you in awe of what just occured. It truly binds together the perfect combination of ingredients into a magical realm of secrets, that for some, is simply too abstract to describe...</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button>
                <span>Read Full Review</span>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
